<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soura.comeducator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/edu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/edu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".TermsActivity" />
        <activity
            android:name=".HomePageActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".DecisionActivity" />
        <activity android:name=".VideoViewActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>